::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #c8cde1;
}

::-webkit-scrollbar-thumb {
  background: #270b6fc7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #270b6f7f;
}